<div class="container px-5">
  <div class="row align-items-center justify-content-between flex-column flex-sm-row">
    <div class="col-auto">
      <div class="small m-0">Copyright &copy; {{ now.Year }}. All rights reserved.</div>
    </div>
    <div class="col-auto">
      <a href="mailto:macenski4benicia@gmail.com"><i class="fa-solid fa-envelope"></i></a>
      <span class="mx-1">·</span>
      <a href="https://www.linkedin.com/planningabetterfuture" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      <span class="mx-1">·</span>
      <a href="https://www.facebook.com/trevor.macenski" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      <span class="mx-1">·</span>
      <a href="https://www.instagram.com/trevor.macenski" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <span class="mx-1">·</span>
      <a href="https://twitter.com/TrevorWMacenski" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
    </div>
  </div>
</div>
