{{ $buttonClass := .Get "buttonClass" | default "btn-primary" }}
{{ $buttonText := .Get "buttonText" | default "Go" }}

<div class='card {{ .Get "class" }}'>
  {{ with .Get "topImage" }}
    <img src="{{ . | absLangURL | safeURL }}" class="card-img-top">
  {{ end }}
  <div class="card-body">
    {{ with .Get "title" }}
      <h5 class="card-title">{{ . }}</h5>
    {{ end }}
    {{ if .Get "markdown" }}
      {{ .Inner | markdownify }}
    {{ else }}
      {{ .Inner }}
    {{ end }}
    {{ with .Get "buttonLink" }}
      <a href="{{ . | absLangURL | safeURL }}" class="btn {{ $buttonClass }}">{{ $buttonText }}</a>
    {{ end }}
  </div>
  {{ with .Get "bottomImage" }}
    <img src="{{ . | absLangURL | safeURL }}" class="card-img-bottom">
  {{ end }}
</div>
